

table{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.234em;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
}

td{ font-family:Georgia, 'Times New Roman', Times, serif;
   

}
.container{ background-color: rgb(240, 170, 41);
    }

.border-1{ 
    padding:0 1em;
    max-width: 60rem;
    margin: auto;
    border: 12px ridge rgb(23, 22, 22);

}

.header-1{
    text-align: center;
    font-family: fantasy;
    font-size: 150%;
    font-weight:600;
    color: black
    
}

button{
    cursor: pointer;
    transition-delay: 0.2s ease;

}
